@charset "utf-8";

@font-face {
    font-family: 'PreT';
    font-weight: 100;
    font-style: normal;
    src: url('/font/Pretendard-Thin.eot');
    src: local('��'),
        url('/font/Pretendard-Thin.woff') format('woff'),
        url('/font/Pretendard-Thin.woff2') format('woff2'),
        url('/font/Pretendard-Thin.otf') format('opentype');
}

@font-face {
    font-family: 'Pre';
    font-weight: 300;
    font-style: normal;
    src: url('/font/Pretendard-Light.eot');
    src: local('��'),
        url('/font/Pretendard-Light.woff') format('woff'),
        url('/font/Pretendard-Light.woff2') format('woff2'),
        url('/font/Pretendard-Light.otf') format('opentype');
}

@font-face {
    font-family: 'PreR';
    font-weight: 400;
    font-style: normal;
    src: url('/font/Pretendard-Regular.eot');
    src: local('��'),
        url('/font/Pretendard-Regular.woff') format('woff'),
        url('/font/Pretendard-Regular.woff2') format('woff2'),
        url('/font/Pretendard-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'PreM';
    font-weight: 600;
    font-style: normal;
    src: url('/font/Pretendard-Medium.eot');
    src: local('��'),
        url('/font/Pretendard-Medium.woff') format('woff'),
        url('/font/Pretendard-Medium.woff2') format('woff2'),
        url('/font/Pretendard-Medium.otf') format('opentype');
}

@font-face {
    font-family: 'PreSB';
    font-weight: 700;
    font-style: normal;
    src: url('/font/Pretendard-SemiBold.eot');
    src: local('��'),
        url('/font/Pretendard-SemiBold.woff') format('woff'),
        url('/font/Pretendard-SemiBold.woff2') format('woff2'),
        url('/font/Pretendard-SemiBold.otf') format('opentype');
}

@font-face {
    font-family: 'PreEB';
    font-weight: 900;
    font-style: normal;
    src: url('/font/Pretendard-ExtraBold.eot');
    src: local('��'),
        url('/font/Pretendard-ExtraBold.woff') format('woff'),
        url('/font/Pretendard-ExtraBold.woff2') format('woff2'),
        url('/font/Pretendard-ExtraBold.otf') format('opentype');
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* header */
.wrapper {
    position: relative;
    width: 100%;
    margin: 0;
}

.wrapper>header {
    width: 100%;
    border: 0px solid;
    height: 100px;
    /* justify-content: space-between; */
    position: fixed;
    margin: 0 auto;
    display: flex;
    align-items: center;
    z-index: 999;
    background: rgb(0 102 179 / 90%);
    margin-top: -100px;
    
}

.wrapper>header>.header-left>a {
    background: url(/img/logo.png) no-repeat 0 0;
    display: block;
    width: 100px;
    height: 64px;
    background-size: 100%;
    margin-left: 40px;
}

.wrapper>header>.header-right>nav {
    display: flex;
    align-items: center;
    /* padding-right: 80px; */
    height:100px;
    
}

.wrapper>header>.header-right>nav>.menu {
    width: 900px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    border: 0;
    margin :0;
    padding-left : 2rem;
}

.wrapper>header>.header-right>nav>.menu>li {
    flex-grow: 1;
    flex-shrink: 0;
    text-align: center;
    position: relative;
}

.wrapper>header>.header-right>nav>.menu>li>a {
    display: block;
    height: 100px;
    text-align: center;
    line-height: 100px;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    font-family: 'PreEB';
    transition: all 0.2s linear;
    
}

.wrapper>header>.header-right>nav>.menu>li>a:hover {
    color: #003478;
}

.wrapper>header>.header-right>nav>.menu>li>.submenu {
    background-color: white;
    position: absolute;
    left: 0px;
    top: 100px;
    width: 100%;
    /* padding-top: 10px; */
    z-index: 2;
    display: none;
}

.wrapper>header>.header-right>nav>.menu>li>.submenu>li {
    height: 50px;
    line-height: 50px;
}

.wrapper>header>.header-right>nav>.menu>li>.submenu>li:last-child {
    margin-bottom: 20px;
    /*hideback높이맞춤*/
}

.wrapper>header>.header-right>nav>.menu>li>.submenu>li>a {
    font-size: 16px;
    color: #000;
    display: block;
    transition: all 0.2s linear;
    font-family: 'PreM';
}

.wrapper>header>.header-right>nav>.menu>li>.submenu>li>a:hover {
    color: #1f5cae;
    font-size: 17px;
}

.wrapper>header>.header-right>nav>.menu:hover .submenu {
    display: block;
    background-color: white;
    height: 10px;
}

.wrapper>header>.header-right>nav>.rightmenu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border: 0;
    height: auto;
    padding-left: 450px;
    margin:0;
    
}

.wrapper>header>.header-right>nav>.rightmenu>li {
    border: 0;
    position: relative;
    width: auto;
    text-align: center;
    font-size: 0.8rem;
    border: 0px solid;
    color: white;
}

.wrapper>header>.header-right>nav>.rightmenu>li:nth-child(2) {
    width: 10px;
}

.wrapper>header>.header-right>nav>.rightmenu>li>a {
    border: 0;
    border: 0px solid;
}

.hideback {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100vw;
    height: 270px;
    background-color: #fff;
    z-index: 1;
    display: none;
    transition: all 0.3s linear;
}

.show-hideback {
    display: block;
}


/* main */
/* main - nav */

section{
    background-image:url(https://i.namu.wiki/i/_vEBH38ZzkB3t8nbxGw-xpJ0qhILOkw2kKv98D6bYZO_toZDsTHjV60fgATuN6KDZaahiJnGMdQqCVjpsYV3orMIk9n9vrd8wYX8qYq6pdDY_76qX9HJsgTJdMyjmhXGzX6taDZ1MOivfiedZPKx2A.webp);
    background-size: cover;
    width: 1900px;
    height: 1200px;
    margin-top: 100px;

}

.section-nav{

    
    border-bottom: 2px solid;
    display: flex;
    justify-content: center;
    align-items: center;

}
.section-nav>li{
    
    margin-right: 50px;
    
    justify-content: center;
    align-items: center;
}
.section-nav>li>a{

    font-size: 25px;
}
.section-nav>li>a:hover{

    color: red;
}
.section-main{
}

/* table CSS */
.board_list_wrap{
    

    position: absolute;
    width: 1300px;
    height: 700px;
    background-color: rgba(255, 255, 255, 0.8);
    margin: 100px auto 0; /* 상단 마진 적용 */
    padding: 50px;
    margin-top: 250px;
    margin-left: 300px;
    border-radius: 30px;
    

}

.board_list_wrap>.board_list{
    
    
    width: 1200px;
    height: 500px;
    
    
    border-top: 3px solid black;
}
.board_list_wrap>.board_list th ,.board_list td{

    padding: 10px;
    font-size: 14px;
    

}
.board_list_wrap>.board_list td{

    text-align: center;

}
.board_list_wrap>.board_list tr {
    border-bottom: 1px solid #ccc;
}
.board_list_wrap>.board_list tbody tr td:nth-child(2):hover {
    
    text-decoration: underline;

}



/* footer */
footer {
    width: 100%;
    background-color: #ececec;;
    padding: 3rem 0 3rem 0;
    
}
.footer-in{
    max-width: 1200px;
    margin: 0 auto;
}
.footerlogo{
    margin-bottom: 2rem;
}
.footer-con{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.footer-left>p{
    font-family: 'PreM';
    font-size: 15px;
    margin-bottom: 1rem;
}
.footer-left>span{
    display: block;
    font-family: 'PreSB';
    font-size: 13px;
    color: #a8a8a8;
}
.footer-right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 18%;
}
.footer-right>img{
    cursor:pointer;
}

