@charset "utf-8";

@font-face {
    font-family: 'PreT';
    font-weight: 100;
    font-style: normal;
    src: url('/font/Pretendard-Thin.eot');
    src: local('��'),
        url('/font/Pretendard-Thin.woff') format('woff'),
        url('/font/Pretendard-Thin.woff2') format('woff2'),
        url('/font/Pretendard-Thin.otf') format('opentype');
}

@font-face {
    font-family: 'Pre';
    font-weight: 300;
    font-style: normal;
    src: url('/font/Pretendard-Light.eot');
    src: local('��'),
        url('/font/Pretendard-Light.woff') format('woff'),
        url('/font/Pretendard-Light.woff2') format('woff2'),
        url('/font/Pretendard-Light.otf') format('opentype');
}

@font-face {
    font-family: 'PreR';
    font-weight: 400;
    font-style: normal;
    src: url('/font/Pretendard-Regular.eot');
    src: local('��'),
        url('/font/Pretendard-Regular.woff') format('woff'),
        url('/font/Pretendard-Regular.woff2') format('woff2'),
        url('/font/Pretendard-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'PreM';
    font-weight: 600;
    font-style: normal;
    src: url('/font/Pretendard-Medium.eot');
    src: local('��'),
        url('/font/Pretendard-Medium.woff') format('woff'),
        url('/font/Pretendard-Medium.woff2') format('woff2'),
        url('/font/Pretendard-Medium.otf') format('opentype');
}

@font-face {
    font-family: 'PreSB';
    font-weight: 700;
    font-style: normal;
    src: url('/font/Pretendard-SemiBold.eot');
    src: local('��'),
        url('/font/Pretendard-SemiBold.woff') format('woff'),
        url('/font/Pretendard-SemiBold.woff2') format('woff2'),
        url('/font/Pretendard-SemiBold.otf') format('opentype');
}

@font-face {
    font-family: 'PreEB';
    font-weight: 900;
    font-style: normal;
    src: url('/font/Pretendard-ExtraBold.eot');
    src: local('��'),
        url('/font/Pretendard-ExtraBold.woff') format('woff'),
        url('/font/Pretendard-ExtraBold.woff2') format('woff2'),
        url('/font/Pretendard-ExtraBold.otf') format('opentype');
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* header */
.wrapper {
    position: relative;
    width: 100%;
    margin: 0;
}

.wrapper>header {
    width: 100%;
    border: 0px solid;
    height: 100px;
    /* justify-content: space-between; */
    position: fixed;
    margin: 0 auto;
    display: flex;
    align-items: center;
    z-index: 999;
    background: rgb(0 102 179 / 90%);
    /* margin-top: -100px; */
    
}

.wrapper>header>.header-left>a {
    background: url(/img/logo.png) no-repeat 0 0;
    display: block;
    width: 100px;
    height: 64px;
    background-size: 100%;
    margin-left: 40px;
}

.wrapper>header>.header-right>nav {
    display: flex;
    align-items: center;
    /* padding-right: 80px; */
    height:100px;
    
}

.wrapper>header>.header-right>nav>.menu {
    width: 900px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    border: 0;
    margin :0;
    padding-left : 2rem;
}

.wrapper>header>.header-right>nav>.menu>li {
    flex-grow: 1;
    flex-shrink: 0;
    text-align: center;
    position: relative;
}

.wrapper>header>.header-right>nav>.menu>li>a {
    display: block;
    height: 100px;
    text-align: center;
    line-height: 100px;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    font-family: 'PreEB';
    transition: all 0.2s linear;
    
}

.wrapper>header>.header-right>nav>.menu>li>a:hover {
    color: #003478;
}

.wrapper>header>.header-right>nav>.menu>li>.submenu {
    background-color: white;
    position: absolute;
    left: 0px;
    top: 100px;
    width: 100%;
    /* padding-top: 10px; */
    z-index: 2;
    display: none;
}

.wrapper>header>.header-right>nav>.menu>li>.submenu>li {
    height: 50px;
    line-height: 50px;
}

.wrapper>header>.header-right>nav>.menu>li>.submenu>li:last-child {
    margin-bottom: 20px;
    /*hideback높이맞춤*/
}

.wrapper>header>.header-right>nav>.menu>li>.submenu>li>a {
    font-size: 16px;
    color: #000;
    display: block;
    transition: all 0.2s linear;
    font-family: 'PreM';
}

.wrapper>header>.header-right>nav>.menu>li>.submenu>li>a:hover {
    color: #1f5cae;
    font-size: 17px;
}

.wrapper>header>.header-right>nav>.menu:hover .submenu {
    display: block;
    background-color: white;
    height: 10px;
}

.wrapper>header>.header-right>nav>.rightmenu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border: 0;
    height: auto;
    padding-left: 450px;
    margin:0;
    
}

.wrapper>header>.header-right>nav>.rightmenu>li {
    border: 0;
    position: relative;
    width: auto;
    text-align: center;
    font-size: 0.8rem;
    border: 0px solid;
    color: white;
}

.wrapper>header>.header-right>nav>.rightmenu>li:nth-child(2) {
    width: 10px;
}

.wrapper>header>.header-right>nav>.rightmenu>li>a {
    border: 0;
    border: 0px solid;
}

.hideback {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100vw;
    height: 270px;
    background-color: #fff;
    z-index: 1;
    display: none;
    transition: all 0.3s linear;
}

.show-hideback {
    display: block;
}


/* main */
.section-main{

    display: flex;
    


}
.section-mid{

background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20230418/pngtree-clouds-sky-blue-aesthetic-pastel-image_2403934.jpg);
margin-top: 100px;
margin-left: 400px;
width: 1200px;
background-size: 1200px;

}







/* main-mid */

/* Section 좌석 배치도랑 지도 */



.main-section1{
    background-color: rgb(255, 255, 255,0.7);
    border-radius: 10px 10px 0px 0px;
    
    display: flex;
    width: 1098px;
    
    
    
}
.main-section1>.main-left{
    margin-top: 10px;
    margin-left: 140px;
    
}
.main-section1>.main-left>h1{


    margin-bottom: 60px;
    margin-left: -20px;

}
.main-section1>.main-left>h3{

    margin-top: -20px;
}



.main-section1>.main-left>img{
    
    border-radius: 15%;
    width: 350px;
    height: 350px;

}
.main-section1>.main-right{
    display: flex;

    margin-top: 150px;
    margin-left: 80px;

}
.main-section1>.main-right>img{

    border-radius: 15%;
    width: 370px;
    height: 370px;
    margin-top: 15px;
    

}

/* 오시는 길 */
.main-section2 {

    background-color: rgb(255, 255, 255,0.8);
    width: 1200px;
    
}
.main-section2>h1{

    margin-left: 130px;
    margin-bottom: 30px;
    
    

}
.section2-map{



    margin-left: 150px;
}



.section2-top {
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
    background-color: rgb(0 102 179 / 90%);
    color: black;
    width: 850px;
    height: 55px;
}

.section2-top>h1{
    color: white;


}

.section2-bottom{
    border: 1px solid;
    /* display: none; */
    border-radius: 15px;
    width: 850px; 
}

.section2-bottom>ul{

}

.section2-bottom > ul > h3 {
    color: red;
}

.section2-bottom.active{
    display: block;
}

/* 아이콘 회전 */
.section2-toggle-btn span.rotate-180 {
    transform: rotate(180deg);
    transition: transform 0.5s ease;
}

.section2-mid{

    background-color: rgb(255, 255, 255,0.8);
    width: 1200px;
    height: 1150px;
}
.section2-mid2{

    margin-left: 150px;
    
}

.section2-mid2>h1{
    
    margin-left: -20px;
    margin-bottom: 40px;
    

}


/* section-mid-nav 부분 */

.section-nav{
    background-color: rgb(255, 255, 255,0.8);
    border-bottom: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
}
.section-nav>li{

    margin-right: 60px;
    justify-content: center;
    align-items: center;

}
.section-nav>li>a{

    font-size: 20px;
}
.section-nav>li>a:hover{

    color: red;
}
.section-nav>li>a:hover{

    color: red;
}




.section-left{


    background-image: url(https://blog.kakaocdn.net/dn/bdVbHo/btszcHtvOkW/DtFwuCm7otuaKbkxfvejyK/img.jpg);
    background-size: 400px 865px;
    position: fixed;
    
    width: 400px;
    height: 865px;
    margin-top: 100px;
    

}
.section-right{

    background-image: url(https://blog.kakaocdn.net/dn/CpoZG/btszgntOiaM/KGnOqbJj6RcR8UzyW5VTJ0/img.jpg);
    background-size: 400px 865px;

    margin-left: 1500px;
    position: fixed;
    
    width: 400px;
    height: 200px;
    height: 865px;
    margin-top: 100px;


}

.section2-map{

max-width: 900px;


}
.section-left{}





/* footer */

.footer-in{

    
        
        
        width: 100%;
        background-color: #ececec;
        padding: 3rem 0;
        max-width: 1100px;
        /* 기존에 있던 margin: 0 auto;를 제거 */
    
}
.footerlogo{
    margin-bottom: 1.5rem;
    margin-left: 80px;
}
.footer-con{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.footer-left{



    margin-left: 70px;
}


.footer-left>p{
    font-family: 'PreM';
    font-size: 15px;
    margin-bottom: 1rem;
}
.footer-left>span{
    display: block;
    font-family: 'PreSB';
    font-size: 13px;
    color: #a8a8a8;
}
.footer-right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 18%;
    margin-right: 60px;

}
.footer-right>img{
    
    cursor:pointer;
}


